/* General body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

/* Sidebar styles */
.sidebar {
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    position: fixed; /* Fixed position to stay in place */
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto; /* Allows scrolling if content overflows */
}

/* Sidebar heading styles */
.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Sidebar navigation styles */
.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 15px 0;
}

.sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar nav ul li a .fas {
    margin-right: 10px;
}

.sidebar nav ul li a.logout {
    color: #ff4b4b;
}

/* Main content area styles */
.main-content {
    margin-left: 250px; /* Offset to account for the fixed sidebar */
    padding: 20px;
    width: 100%;/* Adjust width to fill remaining space */
    height: 100%; /* Ensure it takes the full height */
     /* Include padding and border in width/height calculations */
}

/* Header styles */
header {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
}

header h1 {
    margin: 0;
    text-align: center;
}

header nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a.logout {
    color: #ff4b4b;
}

/* Container styles */
.container {
    margin: 20px auto;
    max-width: 1200px; /* Limit maximum width for better readability */
}

/* Form styles */
form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input[type="date"],
form select {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button i {
    margin-right: 5px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


/* alert message container */

.alert .text {
    display: block;
    padding: 20px;
    margin: 10px;
    border-radius: 3px;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
  }
  
  .alert input {
    display: none;
  }
  
  /* Styling the success alert */
  
  .alert.success .text {
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  
  .alert.success .text,
  .alert.success {
    color: #155724;
  }
  
  /* Styling the error alert */
  
  .alert.error .text {
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  
  .alert.error .text,
  .alert.error {
    color: #721c24;
  }
  
  /* styling the info alert */
  
  .alert.info .text {
    background-color: #cce5ff;
    border-color: #b8daff;
  }
  
  .alert.info .text,
  .alert.info {
   color: #004085;
  }
  
  /* Styling the warning alert */
  
  .alert.warning .text {
    background-color: #fff3cd;
    border-color: #ffeeba;
  }
  
  .alert.warning .text,
  .alert.warning {
    color: #856404;
  }
  

  .save-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .delete-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .cancel-btn.close {
    background-color: #d5d6d8;
    color: #606266;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
  